<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <!--<add key="URLS" value="isoa://10.111.45.84:62871"/>-->
    <!--<add key="URLS" value="isoa://127.0.0.1:8888"/>-->
    <!--<add key ="URLS" value="isoa://10.111.43.145:62871"/>-->
    <add key="URLS" value="isoa://10.111.43.209:8888"/>
    <add key="PACKING_TYPE" value="value"/>
    <add key="ENTITY_PROFIX" value="VO_"/>
    <add key="OPERATION_CODE_FIELD_NAME" value="CZDM"/>
    <add key="HEADER_ENCODING" value="GB2312"/>
    <add key="ERROR_ENCODING" value="GB2312"/>
    <add key="DATA_ENCODING" value="GB2312"/>
  </appSettings>
</configuration>